.card {
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
}